#Redirect /srbija.php /categories.php?category=srbija
#Redirect /politika.php /categories.php?category=politika
#Redirect /poznati.php /categories.php?category=poznati

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^poznati\.php$ /categories.php?category=poznati [L]
RewriteRule ^svet\.php$ /categories.php?category=svet [L]
RewriteRule ^zabava\.php$ /categories.php?category=zabava [L]
RewriteRule ^srbija\.php$ /categories.php?category=srbija [L]
RewriteRule ^sport\.php$ /categories.php?category=sport [L]
RewriteRule ^politika\.php$ /categories.php?category=politika [L]

</IfModule>

#Header set Cache-Control "max-age=0, no-cache, must-revalidate"

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access"
</IfModule>
